tr .row_number {
    text-align: center;
    vertical-align: middle;
}

tr .married {
    text-align: center;
    color: black;
}

.table tr td {
    vertical-align: middle;
}

.search-form {
    margin-left: 0.5rem;
}

.d-flex {
    margin-bottom: 0.5rem;
}

.borderDesc {
    border-bottom: 3px solid red !important;
}

.borderAsc {
    border-top: 3px solid red !important;
}

.checkbox-form{
    border: none;
    margin-left: 3px;
    margin-top: 3px;
}
