tr .row_number {
    text-align: center;
    vertical-align: middle;
}

tr .married_checkbox {
    text-align: center;
}

.table tr td {
    vertical-align: middle;
}

.search-form {
    margin-left: 0.5rem;
}

.d-flex {
    margin-bottom: 0.5rem;
}